################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/HashSet/HashSet/obj/Debug
/HashSet/Test/obj/Debug
/HashSet/UnitTest/obj/Debug
/HashSet/HashSet/bin/Debug
/HashSet/.vs/HashSet/v14/.suo
/HashSet/Test/bin/Debug
/HashSet/UnitTest/bin/Debug/ru/Microsoft.VisualStudio.QualityTools.UnitTestFramework.resources.dll
/HashSet/UnitTest/bin/Debug
