################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/HashSet/HashSet/obj/Debug
/HashSet/Test/obj/Debug
/HashSet/UnitTest/obj/Debug
